target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
/legacy
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.idea/
*.iws
*.iml
*.ipr

.vscode/

.DS_Store

# Environment-specific properties with sensitive data
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
.env
/src/main/resources/application-dev.properties
/temp/
/temp_soundfragments_storage/
/controller-uploads/
*.ps1
/src/main/resources/prompts/
/sessions_data/
/C:/Users/justa/tmp/jesoos/intro-tts/temp/intro_074b68ae-843d-4a89-a82b-dc7588a612cb.mp3
/C:/Users/justa/tmp/jesoos/intro-tts/temp/intro_86ec460a-84e7-461c-b06f-d1a662c4f075.mp3
